nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right ul{
    display: flex;
    gap: 34px;
}

.right ul li{
    list-style: none;
    display: flex;
    align-items: center;
    font-family: "Segoe UI";
    cursor: pointer;
}

.logo img{
    width: 164px;
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
    font-family: sans-serif;
}

.first span{
    font-size: 44px;
}

.first span img{
    width: 82px;
    margin: 0 23px;
}

.first p{
    font-size: 23px;
    width: 64vw;
    text-align: center;
}

.btn{
    background: #00b6d1;
    padding: 14px 16px;  
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
}

.green{
    background-color: #5cb85c;
}

.small{
    font-size: 12px;
}

.second{
    /* display: flex;
    flex-direction: column; */
    max-width: 70vw;
    margin: auto;
    align-items: center ;
}

.item{
    padding: 23px;
    background-color: #f9f9f9;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Segoe UI';
}

.itemlang{
    font-weight: 700;
    text-align: center;
    padding-bottom: 36px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.downlaod:nth-child(2){
    font-size: 30px;
}

.downlaod:nth-child(1){
    width: 18px;
}

.downlaod{
    max-width: 70vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}